{% extends "!layout.html" %}
{% block linktags %}
    <script type="text/javascript" src="https://sagecell.sagemath.org/static/jquery.min.js"></script>
    <script type="text/javascript" src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script type="text/javascript">
        sagecell.makeSagecell({inputLocation: ".sage_linked",
                               linked: true,
                       	evalButtonText: 'Wykonaj'});
        sagecell.makeSagecell({inputLocation: ".sage_unlinked",
                               linked: false,
                           evalButtonText: 'Wykonaj'});
    </script>

    <style type="text/css">
        .sagecell .CodeMirror-scroll {
            overflow-y: hidden;
            overflow-x: auto;
        }
        .sagecell .CodeMirror {
            height: auto;
        }
    </style>
    {{ super() }}
{% endblock %}
